* {
   box-sizing:border-box;
}

body {
   background-color: rgba(201, 76, 76, 0.3);
}

h1 {
    color: light green;
}

h2 {
   color: red;
}

p {
   color:green
}

.container {
    width: 100%;
    margin: 50px;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
}